
@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

*, *::before, *::after {
	transition: all .5s cubic-bezier(.2,.3,0,1);
	-webkit-transition: all .5s cubic-bezier(.2,.3,0,1);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 4px;
}

.noanim {
	transition: all 0s;
	-webkit-transition: all 0s;
}

body {
	background: #eee;
	font-family: 'Montserrat', sans-serif;
	overflow-y: hidden;
}

svg#teleport {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9001; /* over 9000 */
	pointer-events: none;
}
svg#teleport * {
	pointer-events: all;
}

#msie {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
}

/* content */

content {
	position: fixed;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	padding-bottom: 60px;
	overflow-x: hidden;
	overflow-y: auto;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: #9c27b0;
	position: relative;
}
a:hover {
	color: #fff;
}
a::after {
	content: attr(href);
	position: absolute;
	bottom: 0;
	color: #fff;
	pointer-events: none;
	left: 50%;
	-webkit-transform: translateX(-50%) scale(0);
	transform: translateX(-50%) scale(0);
	background: #9c27b0;
	padding: 10px;
}
a::before {
	content: '';
	position: absolute;
	background: #9c27b0;
	bottom: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	z-index: -1;
	-webkit-transform: translate(-50%,-50%) rotate(45deg) scale(0);
	transform: translate(-50%,-50%) rotate(45deg) scale(0);
	pointer-events: none;
}
a:hover::after {
	bottom: 100%;
	-webkit-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
}
a:hover::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg) scale(1);
	transform: translate(-50%,-50%) rotate(45deg) scale(1);
}

.title {
	display: block;
	font-size: 2em;
	text-align: center;
}

/* header */

header {
	background: #333;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	box-sizing: border-box;
	-webkit-animation: headerin 1s;
	animation: headerin 1s;
	z-index: 250;
}
@-webkit-keyframes headerin {
	0% {
		top: -56px;
	}
	50% {
		top: 0;
		height: 60px;
	}
	100% {
		height: 56px;
	}
}
@keyframes headerin {
	0%{top:-56px;}
	50%{top:0;height:60px;}
	100%{height:56px;}
}

header #plogo {
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	margin: 4px;
}
header #ptitle {
	position: absolute;
	bottom: 12px;
	font-size: 24px;
	left: 56px;
}
header #ptabs {
	position: absolute;
	right: 4px;
	bottom: 12px;
}
header hamburger {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	top: 0;
	right: 0;
	margin: 4px;
	width: 48px;
	height: 48px;
}
header hamburger #l1,
header hamburger #l2,
header hamburger #l3 {
	background: #fff;
	width: 18px;
	height: 2px;
	position: absolute;
	left: 15px;
}
header hamburger #l1 {
	top: 19px;
}
header hamburger #l2 {
	top: 24px;
}
header hamburger #l3 {
	top: 29px;
}

@media (max-width: 900px) {
	header {
		overflow: hidden;
	}
	header.open {
		height: 90%;
	}
	header #ptitle {
		font-size: 15px;
		bottom: 18px;
	}
	header.open #ptitle {
		opacity: 0;
		pointer-events: none;
	}
	header #ptabs {
		pointer-events: none;
		opacity: 0;
		right: 56px;
		bottom: 0;
		/*overflow-x: hidden;*/
		/*max-height: 90%;*/
		/*overflow-y: auto;*/
		left: 56px;
	}
	header hamburger {
		opacity: 1;
		pointer-events: all;
		cursor: pointer;
	}
	header.open hamburger {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	header.open hamburger #l1 {
		top: 24px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	header.open hamburger #l2 {
		left: 24px;
		width: 0;
	}
	header.open hamburger #l3 {
		top: 24px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	header.open #ptabs {
		pointer-events: all;
		opacity: 1;
	}
	header #ptabs tab {
		display: list-item;
		list-style-type: none;
		padding: 10px;
	}
	header #ptabs tab:active {
		transition: all 0s;
		-webkit-transition: all 0s;
	}
	header #ptabs tab::before {
		display: none!important;
	}
	header #ptabs tab::after {
		display: none!important;
	}

	header.noanim * {
		pointer-events: none;
	}
}

/* footer */

footer {
	background: rgba(0,0,0,.5);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 56px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	font-size: 12px;
	color: rgba(255,255,255,.5);
	-webkit-animation: footerin 1s;
	animation: footerin 1s;
	z-index: 200;
}
footer #addinfo {
	opacity: 0;
	pointer-events: none;
	position: relative;
	top: 200px;
}
footer.open {
	height: 90%;
	z-index: 260;
	background: rgba(0,0,0,1);
}
footer.open #addinfo {
	opacity: 1;
	pointer-events: all;
	top: 0;
}
@-webkit-keyframes footerin {
	0% {
		bottom: -56px;
	}
	50% {
		bottom: 0;
		height: 60px;
	}
	100% {
		height: 56px;
	}
}
@keyframes footerin {
	0%{bottom:-56px;}
	50%{bottom:0;height:60px;}
	100%{height:56px}
}

/* tabgroups */
tabgroup tab {
	cursor: pointer;
	margin: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	position: relative;
	border-bottom: 1px solid transparent;
}
tabgroup tab:hover {
	border-bottom: 1px solid #fff;
}
tabgroup tab[external]::after {
	content: attr(href);
	position: absolute;
	top: 50%;
	color: #fff;
	pointer-events: none;
	right: 0;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	background: #9c27b0;
	padding: 10px;
}
tabgroup tab[external]::before {
	content: '';
	position: absolute;
	background: #9c27b0;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	z-index: -1;
	-webkit-transform: translate(-50%,-50%) rotate(45deg) scale(0);
	transform: translate(-50%,-50%) rotate(45deg) scale(0);
	pointer-events: none;
}
tabgroup tab[external]:hover::after {
	top: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
}
tabgroup tab[external]:hover::before {
	-webkit-transform: translate(-50%,50%) rotate(45deg) scale(1);
	transform: translate(-50%,50%) rotate(45deg) scale(1);
}