
#lobby {
	width: 100%;
	position: absolute;
	z-index: 40;
}

#lobbybanner {
	width: 100%;
	background: rgba(255,255,255,1);
	font-size: 80pt;
	height: 100pt;
	z-index: 41;
	position: absolute;
	top: 50pt;
	text-align: center;
	color: #000;
}