
#staffinfo {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	width: 600px;
	height: 400px;
	background: #eee;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.23);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.23);
	overflow: hidden;
	-webkit-transition: all 0s;
	transition: all 0s;
	z-index: 50;
	/*visibility: hidden;
	opacity: 0;*/
/*}
#staffinfo.open {*/
	visibility: visible;
	opacity: 1;
}
#sib {
	background: rgba(0,0,0,.5);
	position: fixed;
	z-index: 40;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
}
#sib.open {
	opacity: 1;
	pointer-events: all;
}
#staffinfo.anim {
	-webkit-transition: all .5s cubic-bezier(.2,.3,0,1);
	transition: all .5s cubic-bezier(.2,.3,0,1);
}
#staffinfo closebtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	/*background: #f44336;*/
	border-radius: 12px;
	margin: 4px;
	cursor: pointer;
	z-index: 100;
	-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.23);
	box-shadow: 0 0 7px 0 rgba(0,0,0,.23);
}
#staffinfo closebtn::before,
#staffinfo closebtn::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 2px;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -9px;
	background: #fff;
}
#staffinfo closebtn::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#staffinfo closebtn::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#staffinfo #stdiv {
	background: #e11f1f;
	height: 56px;
	color: #fff;
	position: relative;
	text-align: center;
	-webkit-transition: background 0s;
	transition: background 0s;
}
#staffinfo.animt #stdiv {
	height: 400px;
}
#staffinfo.anim #stdiv {
	-webkit-transition: all .5s cubic-bezier(.2,.3,0,1);
	transition: all .5s cubic-bezier(.2,.3,0,1);
}
#staffinfo #stdiv #srank,
#staffinfo #stdiv #sname {
	top: 20px;
	position: relative;
}
#staffinfo #stdiv #sname {
	margin-left: 8px;
}
#staffinfo.animt #stdiv * {
	opacity: 0;
}
#staffinfo.animt closebtn {
	opacity: 0;
}
#staffinfo #sldiv,
#staffinfo #stdiv #stdliv {
	float: left;
	width: 224px;
	position: relative;
}
#staffinfo #sldiv #skin {
	max-height: 336px;
	max-width: 216px;
	margin: 8px;
}
#staffinfo #srdiv,
#staffinfo #stdiv #stdriv {
	/*float: left;*/
	position: relative;
}
#staffinfo #stdiv #stdriv {
	float: left;
}
#staffinfo #srdiv {
	margin: 8px;
	max-height: 336px;
	overflow-x: hidden;
	overflow-y: auto;
}

@media (max-width: 700px), (max-height: 500px) {
	#staffinfo {
		top: 56px;
		left: 0;
		right: 0;
		bottom: 56px;
		width: auto;
		height: auto;
		z-index: 300;
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
		margin-top: 0;
		margin-left: 0;
	}
	#staffinfo #stdiv #stdliv {
		width: auto;
		margin-left: 56px;
	}
	#staffinfo closebtn {
		width: 48px;
		height: 48px;
		border-radius: 24px;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#staffinfo #sldiv, #staffinfo #srdiv {
		float: none;
	}
	#staffinfo #sldiv {
		height: 100px;
		overflow: hidden;
		text-align: center;
		width: 100%;
	}
}
@media (max-width: 330px) {
	#staffinfo #stdiv #stdliv {
		opacity: 0;
		width: 0;
	}
}
@media (max-height: 400px) and (max-width: 900px) {
	#staffinfo {
		bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}


staff {
	background: #555;
	padding: 10px;
	display: list-item;
	list-style-type: none;
	color: #fff;
	text-align: center;
	display: block;
	cursor: pointer;
}
staff:active {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}
staff.open {
	visibility: hidden;
	transition: all 0s;
	-webkit-transition: all 0s;
}
staff:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
staff:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
staff .name {
	font-size: 1.2em;
	display: block;
	text-align: center;
}
staff .rank {
	padding-bottom: 5px;
	font-size: 75%;
	display: block;
}
staff .description {
	padding: 0 20px;
	display: none;
}
staff.owner {
	background: #e11f1f;
}
staff.admin {
	background: #f22f2f;
}
staff.moderator {
	background: #aa39ba;
}
staff.trialmod {
	background: #b54ba1;
}
staff.developer {
	background: #ffc355;
}
staff.builder {
	background: #2e64fe;
}
