
staff {
	background: #555;
	padding: 10px;
	display: list-item;
	list-style-type: none;
	color: #fff;
	text-align: center;
	display: block;
}
staff:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
staff:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
staff .name {
	font-size: 1.2em;
	display: block;
	text-align: center;
}
staff .description {
	padding: 0 20px;
}
staff.owner {
	background: #e11f1f;
}
staff.admin {
	background: #f22f2f;
}
staff.moderator {
	background: #aa39ba;
}
staff.trialmod {
	background: #b54ba1;
}
staff.developer {
	background: #ffc355;
}
staff.builder {
	background: #2e64fe;
}
